@{
    ViewData["Title"] = "Festa CC";
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UHULL FESTA</title>
</head>
<body>
    <div>
        <p>@ViewBag.Greeting  Meus Nobres Festeiros!</p>
        <iframe src="https://giphy.com/embed/MS3XuWjQV1FiU" width="347" height="480" frameBorder="0"></iframe>
        <p>O curso de Ciências da Computação está promovendo uma festa do Balacobaco, venha fazer parte você também dessa Patuscada!!!!</p>
        <a asp-action="RsvpForm">Confirmar Presença</a>
    </div>
</body> 
</html>